<div id="main-content">
      <div class="container_12">
        <div class="grid_12">
          <h1>Dashboard</h1>
          <p>Here you have a quick overview of some features</p>
          <div class="alert info"><span class="hide">x</span><strong>Hey
            there! Welcome to the professional and flexible admin template "Grape".
            I hope you enjoy your stay and please make sure, that you visit the 
            other pages.</strong></div>
        </div>
        <div class="grid_12">
          <div class="block-border">
            <div class="block-content">
              <ul class="shortcut-list">
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/kedit.png"> Write an Article </a> </li>
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/penguin.png"> User Manager </a> </li>
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/wifi.png"> Control Monitor </a> </li>
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/mailreminder.png"> Check the Mails </a> </li>
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/Volume%2520Manager.png"> Statistics </a> </li>
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/terminal.png"> Manage Console </a> </li>
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/knotes.png"> Notes </a> </li>
                <li> <a href="javascript:void(0);"> <img src="{$public_url}images/kview.png"> Manage Images </a> </li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="grid_4">
          <div class="block-border">
            <div class="block-header">
              <h1>Create a Blogpost</h1>
              <span></span> </div>
            <form id="validate-form" class="block-content form" action="dashboard.html" method="post">
              <p class="inline-mini-label">
                <label for="title">Title</label>
                <input name="title" class="required text" type="text">
              </p>
              <p class="inline-mini-label">
                <label for="category">Category</label>
              <div id="uniform-category" class="selector"><span style="-moz-user-select: none;">Lorem Ipsum</span>
                <select style="opacity: 0;" name="category" id="category">
                  <option selected="selected">Lorem Ipsum</option>
                  <option>Consetetur Sadipscing</option>
                  <option>Eirmod Tempor</option>
                </select>
              </div>
              </p>
              <p class="inline-mini-label">
                <label for="post">Post</label>
                <textarea id="post" name="post" class="required uniform" rows="5" cols="40"></textarea>
              </p>
              <p></p>
              <div class="clear"></div>
              <div class="block-actions">
                <ul class="actions-left">
                  <li><a class="button red" id="reset-validate-form" href="javascript:void(0);">Cancel</a></li>
                </ul>
                <ul class="actions-right">
                  <li>
                    <input class="button" value="Create Post" type="submit">
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <div class="grid_4">
          <div class="block-border">
            <div class="block-header">
              <h1>What you should do</h1>
              <span></span> </div>
            <div class="block-content">
              <ul class="block-list with-icon">
                <li class="i-16-calendar">Lorem ipsum</li>
                <li class="i-16-application">Lorem ipsum</li>
                <li class="i-16-balloon">Lorem ipsum</li>
                <li class="i-16-chart">Lorem ipsum</li>
                <li class="i-16-drive">Lorem ipsum</li>
              </ul>
            </div>
            <div class="block-content dark-bg">
              <p>Visit the <a href="http://envato.stammtec.de/themeforest/grape/list_block.html">Block List</a> page to see the other types of block lists.</p>
            </div>
          </div>
        </div>
        <div class="grid_4">
          <div class="block-border">
            <div class="block-header">
              <h1>Overview-List</h1>
              <span></span> </div>
            <div class="block-content">
              <div class="alert info no-margin top">You have 12 new support tickets.</div>
              <ul class="overview-list">
                <li><a href="javascript:void(0);"><span>8262</span> Total Visits</a></li>
                <li><a href="javascript:void(0);"><span>521</span> Today Visits</a></li>
                <li><a href="javascript:void(0);"><span>257</span> Comments</a></li>
                <li><a href="javascript:void(0);"><span>42</span> Support Tickets</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clear height-fix"></div>
      </div>
    </div>